<h1>WebShop</h1>

<div class="container">
    <h2>Customers</h2>
    <div class="table-responsive customers">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Remove</th>
                    <th>Get Orders</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <h2>Orders</h2>
    <div class="table-responsive orders">
        <table class="table table-striped">
            <caption><h3></h3></caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Remove</th>
                    <th>Get products</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <h2>Products</h2>
    <div class="table-responsive products">
        <table class="table table-striped">
            <caption><h3></h3></caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/customerClient.js"></script>
}